# Dépendances Node
client/node_modules/
server/node_modules/

# Builds / Outputs
client/dist/
client/build/
server/data/

# Variables d'environnement (fichiers secrets)
/.env
client/.env.local
server/.env

# Fichiers système
.DS_Store